<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Кантора1.Properties.Settings.ДолженConnectionString"
            connectionString="Data Source=DESKTOP-2F416IT;Initial Catalog=Должен;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Кантора1.Properties.Settings.ДолженConnectionString1"
            connectionString="Data Source=DESKTOP-JLG9LLB;Initial Catalog=Должен;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>